<ul class="govuk-navigation component-activated-menu"
    data-activator-text="<%= t('pages.connection_menu_label', source: (item[:type] == 'flow.branch' ? item[:title] + ', ' + condition_title : item[:title] ) ) %>"
    data-activator-classname="<%= item[:type] == 'flow.branch' ? 'branch-' : '' -%>connection-menu-activator"
    data-component="ConnectionMenu"
    data-title="<%= item[:title] %>"
    data-uuid="<%= item[:uuid] %>"
    data-next-uuid="<%= item[:type] == 'flow.branch' ? condition[:next] : item[:next] -%>"
    data-condition-uuid="<%= item[:type] == 'flow.branch' ? condition[:uuid] : '' -%>">

    <% unless item[:type] == 'page.checkanswers' %>
      <li data-action="none">
        <span><%= t('actions.add_single_question') -%></span>
        <ul class="govuk-navigation" role="menu">
          <li data-page-type="singlequestion"
              data-component-type="text"><span><%= t('components.list.text') -%></span></li>
          <li data-page-type="singlequestion"
              data-component-type="textarea"><span><%= t('components.list.textarea') -%></span></li>
          <li data-page-type="singlequestion"
              data-component-type="email"><span><%= t('components.list.email') -%></span></li>
          <li data-page-type="singlequestion"
              data-component-type="number"><span><%= t('components.list.number') -%></span></li>
          <li data-page-type="singlequestion"
              data-component-type="date"><span><%= t('components.list.date') -%></span></li>
          <li data-page-type="singlequestion"
              data-component-type="radios"><span><%= t('components.list.radios') -%></span></li>
          <li data-page-type="singlequestion"
              data-component-type="checkboxes"><span><%= t('components.list.checkboxes') -%></span></li>
          <li data-page-type="singlequestion"
              data-component-type="autocomplete"><span><%= t('components.list.autocomplete') -%></span></li>
          <li data-page-type="singlequestion"
              data-component-type="multiupload"><span><%= t('components.list.upload') -%></span></li>
          <li data-page-type="singlequestion"
              data-component-type="dropdown"><span><%= t('components.list.dropdown') -%></span></li>
          <li data-page-type="singlequestion"
              data-component-type="dropdown2"><span><%= t('components.list.dropdown2') -%></span></li>
        </ul>
      </li>

      <li data-page-type="multiplequestions"><span><%= t('actions.add_multi_question') -%></span></li>

      <li data-page-type="repeatablepage"><span><%= t('actions.add_repeatable_page') -%></span></li>

      <li data-page-type="content"><span><%= t('actions.add_content') -%></span></li>

      <% unless item[:type] == 'page.start' %>
        <li data-page-type="exit"><span><%= t('actions.add_exit') -%></span></li>
      <% end %>
    <% end %>

    <% if !service.checkanswers_page.present? && item[:type] != 'flow.branch' && (item[:next].blank? || item[:next] == service.confirmation_page&.uuid) %>
      <li data-page-type="checkanswers"><span><%= t('actions.add_check_answers') -%></span></li>
    <% end %>

    <% if item[:type] == 'page.checkanswers' %>
      <% if service.confirmation_page.present? %>
        <% if !@publish_warning&.confirmation_in_main_flow? %>
          <li data-action="reconnect-confirmation"
              data-url="<%= api_service_flow_destinations_path(service.service_id, item[:uuid]) -%>"
              data-destination-uuid="<%= service.confirmation_page.uuid -%>">
              <a href="#reconnect-confirmation"><%= t('actions.reconnect_confirmation') -%></span>
          </li>
        <% end %>
      <% else %>
        <li data-page-type="confirmation"><span><%= t('actions.add_confirmation') -%></span></li>
      <% end %>
    <% end %>

    <% unless (item[:type] =~ /page.(checkanswers|confirmation|exit)/) || item[:type] == 'flow.branch' %>
      <% unless item[:type] == 'page.start' %>
        <li data-action="link">
          <%= link_to t('services.branch'),
            new_branches_path(service.service_id, item[:uuid]) %>
        </li>
      <% end %>

      <li data-action="destination">
        <%= link_to t('actions.change_destination'),
          new_api_service_flow_destination_path(service.service_id, item[:uuid]) %>
      </li>
    <% end %>
</ul>
